
body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background-color: #34495e;
	padding-top: 60px;
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 70px;
	
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

/* intro Wrap */

#intro {
	padding-top: 50px;
	border-top: #bdc3c7 solid 5px;
}

#features {
	padding-top: 50px;
	padding-bottom: 50px;
}

#features .ac a{
	font-size: 20px;
}

/* Showcase Wrap */

#showcase {
	display: block;
	background-color: #34495e;
	padding-top: 50px;
	padding-bottom: 50px;
}

#showcase h1 {
	color: white;
}

#footerwrap {
	background-color: #2f2f2f;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}

/*  changes  */
.navbar-default {
    /*background-color: #010214 !important;*/
    background-color: none;
    border-color: #010214;
    opacity: 1;
}
.navbar-default .navbar-brand {
    letter-spacing: 1px;
    color: #000;
}

/* */
/* */


/*Taken from Leaflet */
/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}
.leaflet-top, .leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}
.leaflet-top {
  top: 0;
}
.leaflet-right {
  right: 0;
}
.leaflet-bottom {
  bottom: 0;
}
.leaflet-left {
  left: 0;
}
.leaflet-control {
  float: left;
  clear: both;
}
.leaflet-right .leaflet-control {
  float: right;
}
.leaflet-top .leaflet-control {
  margin-top: 20px;
}
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}
.leaflet-left .leaflet-control {
  margin-left: 20px;
}
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom control */
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  /*font: bold 18px 'Lucida Console', Monaco, monospace;*/
  font: bold 13px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}
.leaflet-control-zoom-out {
  /*font-size: 20px;*/
  font-size: 15px;
}
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}

/* general toolbar styles */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0,0,0,0.0);
  border-radius: 4px;
}
.leaflet-bar a, .leaflet-bar a:hover {
  /*background-color: #fff;*/
  background-color: rgba(255,255,255,0.3);
  /*border-bottom: 1px solid rgba(255,255,255,0.4);*/
  border-bottom: 1.2px solid rgba(0,0,0,0.4);
/*  width: 26px;
  height: 26px;*/

  width: 24px;
  height: 24px;

  line-height: 24px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
  /*color: rgba(30,30,30,1);*/
}
.leaflet-bar a, .leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-leaflet-pan-control .leaflet-control-zoom {
  position: relative;
  left:24px;
}
.has-leaflet-pan-control .leaflet-control-zoomslider {
  position: relative;
  left:22px;
}

.leaflet-control-pan  {
  width: 76px; 
  height: 76px;
}

.leaflet-control-pan > div {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.leaflet-control-pan > div {
  box-shadow: 0 1px 7px rgba(0,0,0,0.65);
}
.leaflet-control-pan a {
    /*background-color: #fff;*/
    background-color: rgba(255,255,255,0.34);
}
.leaflet-control-pan a{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
.leaflet-control-pan a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 23px;
  height: 23px;
}
.leaflet-control-pan a:hover {
    background-color: #f4f4f4;
}

.leaflet-control-pan-up-wrap {
  position:absolute;
  left:26px;
}
.leaflet-control-pan-left-wrap {
  position:absolute;
  top:26px;
}
.leaflet-control-pan-right-wrap {
  position:absolute;
  left:52px;  
  top:26px;
}
.leaflet-control-pan-down-wrap {
  position:absolute;
  left:26px;
  top:52px;
}

.leaflet-control-pan-up {
  background-image: url(up.png);
  background-size: 9px 9px;
}
.leaflet-control-pan-left {
  background-image: url(left.png);
  background-size: 9px 9px;
}
.leaflet-control-pan-right {
  background-image: url(right.png);
  background-size: 9px 9px;
  /*width: ;*/
}
.leaflet-control-pan-down {
  background-image: url(down.png);
  background-size: 9px 9px;
}

.leaflet-touch .leaflet-control-pan div {
  border: 4px solid rgba(0, 0, 0, 0.3);
  box-shadow: none;

  border-radius: 10px;
}

.leaflet-touch .leaflet-control-pan {
  width: 89px;
  height: 119px;
}

.leaflet-touch .leaflet-control-pan a {
  width: 30px;
  height: 30px;

  border-radius: 7px;
}

.leaflet-touch .leaflet-control-pan-up-wrap {
  left:26px;
}

.leaflet-touch .leaflet-control-pan-left-wrap {
  top:40px;
}

.leaflet-touch .leaflet-control-pan-right-wrap {
  left:52px;
  top:40px;
}

.leaflet-touch .leaflet-control-pan-down-wrap {
  left:26px;
  top:80px;
}

.leaflet-control-container {
  position: relative;
  top: 100px;
  left: -30px;

/*  top: 360px;
  left: -30px;*/
}





